OPENAI_API_KEY=sk-proj-abcd...
OPENAI_MODEL_NAME=GPT-4-Turbo

OUTPUT_DIRECTORY=sessions
SQLALCHEMY_DATABASE_URI=mysql+mysqlconnector://root:pass@host/doach


# PA Database connection string

# SECRET_KEY=mykey
# SQLALCHEMY_DATABASE_URI=mysql+pymysql://user:pass@sqlhost/dbuser$doach?charset=utf8mb4
# FLASK_ENV=production
# SQLALCHEMY_TRACK_MODIFICATIONS=False